# Application Settings
PORT=3000
NODE_ENV=development

# Database Settings
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD='Roovi@29'
DB_NAME=msrledger
DB_PORT=3306

# Security Settings
# Generate a strong key using crypto.randomBytes(32).toString('hex')
JWT_SECRET=hgvfkfyliyfkufghjfyre6fvghfkiulkgkx
JWT_EXPIRES_IN=1h
